@font-face {
  font-family: 'UnB Pro';
  src: url('../../assets/fonts/UnB Pro_Bold.otf');
}

.header {
  font-family: 'UnB Pro';
  height: 120px;
  padding: 20px 0px 20px 20px;
  background: rgb(226, 226, 226);
}

.logo {
  position: relative;
  width: 48px;
  top: -16px;
}

.notesTitle {
  position: relative;
  top: 18px;
  left: 40px;
  font-size: 30px;
  color: "black" !important;
}

.mainTitle {
  position: relative;
  left: 20px;
  font-size: 48px;
  color: #104177;
}
