body {
  font-family: 'Roboto', sans-serif;
}

.subjectCard {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 8px;
  background: #d8d8d8;
  padding: 16px;
  font-weight: 900;
  text-align: left;
  cursor: pointer; /* Deixa o cursor bonitinho e permite que o onClick funcione no mobile! */
}

.subjectCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.name {
  font-size: large;
}

.dep {
  text-transform: uppercase;
  color: #424242;
  font-size: small;
}
